ci.user.regular.username=Manishgoyaler
ci.user.regular.password=Rogers123
ci.user.regular2.username=Manishgoyaler
ci.user.regular2.password=Rogers123
ci.user.regular3.username=Manishgoyaler
ci.user.regular3.password=Rogers123
ci.user.regular4.username=Manishgoyaler
ci.user.regular4.password=Rogers123
ci.user.regular5.username=Manishgoyaler
ci.user.regular5.password=Rogers123
ci.user.regular6.username=Manishgoyaler
ci.user.regular6.password=Rogers123
ci.user.regular7.username=Manishgoyaler
ci.user.regular7.password=Rogers123
ci.user.regular8.username=Manishgoyaler
ci.user.regular8.password=Rogers123
ci.user.regular9.username=Manishgoyaler
ci.user.regular9.password=Rogers123
ci.user.regular10.username=Manishgoyaler
ci.user.regular10.password=Rogers123
ci.user.regular11.username=Manishgoyaler
ci.user.regular11.password=Rogers123
ci.user.regular12.username=Manishgoyaler
ci.user.regular12.password=Rogers123
ci.user.regular13.username=Manishgoyaler
ci.user.regular13.password=Rogers123
ci.user.language1.username=Manishgoyaler
ci.user.language1.password=Rogers123
ci.user.language2.username=Manishgoyaler
ci.user.language2.password=Rogers123
ci.user.language3.username=Manishgoyaler
ci.user.language3.password=Rogers123
ci.user.language4.username=Manishgoyaler
ci.user.language4.password=Rogers123
ci.user.language5.username=Manishgoyaler
ci.user.language5.password=Rogers123
ci.user.language6.username=Manishgoyaler
ci.user.language6.password=Rogers123
ci.user.language7.username=Manishgoyaler
ci.user.language7.password=Rogers123
ci.user.language8.username=Manishgoyaler
ci.user.language8.password=Rogers123
ci.user.language9.username=Manishgoyaler
ci.user.language9.password=Rogers123
ci.user.language10.username=Manishgoyaler
ci.user.language10.password=Rogers123
ci.user.language11.username=Manishgoyaler
ci.user.language11.password=Rogers123
ci.user.closeAccountUser.username=Manishgoyaler
ci.user.closeAccountUser.password=Rogers123
ci.user.blockedAccountUser.username=Manishgoyaler
ci.user.blockedAccountUser.password=Rogers123
ci.user.wikiastaff.username=Manishgoyaler
ci.user.wikiastaff.id=""
ci.user.wikiastaff.password=Rogers123
ci.user.wikiastaff2.username=Manishgoyaler
ci.user.wikiastaff2.password=Rogers123
ci.user.wikiamonobook.username=Manishgoyaler
ci.user.wikiamonobook.password=Rogers123
ci.user.facebook.password=Rogers123
ci.user.facebook.username=Manishgoyaler
ci.email.generic.password=Rogers123
ci.email.qawikia1.username=Manishgoyaler
ci.email.qawikia1.password=Rogers123
ci.email.qawikia2.username=Manishgoyaler
ci.email.qawikia2.password=Rogers123
ci.email.qawikia4.username=Manishgoyaler
ci.email.qawikia4.password=Rogers123
ci.user.tooManyLoginAttempts.username=Manishgoyaler
ci.user.tooManyLoginAttempts.password=Rogers123
ci.user.forgottenpassword=Rogers123.username=Manishgoyaler1
ci.user.forgottenpassword=Rogers123.username=Manishgoyaler2
ci.user.forgottenpassword=Rogers123.username=Manishgoyaler3
ci.user.vePreferredUser.username=Manishgoyaler
ci.user.vePreferredUser.password=Rogers123
ci.user.ckPreferredUser.username=Manishgoyaler
ci.user.ckPreferredUser.password=Rogers123
ci.user.sourcePreferredUser.username=Manishgoyaler
ci.user.sourcePreferredUser.password=Rogers123
ci.user.defaultPreferredUser.username=Manishgoyaler
ci.user.defaultPreferredUser.password=Rogers123
ci.user.goSearchPreferredUser.username=Manishgoyaler
ci.user.goSearchPreferredUser.password=Rogers123
ci.api.token=""
ci.api.youtube.key=""